.root {
  text-transform: uppercase;
  padding: 15px 39px;
  border-radius: 6px;

  &.outlined {
    border: 1px solid rgba(255, 255, 255, .27);
  }

  span {
    position: relative;
    top: 2px;
  }
}