.root {
  // container
  >div {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 32px 30px;
  }

  @media screen and (max-width: 1040px) {
    >div {
      grid-template-columns: 1fr 1fr; 
    }
  }

  @media screen and (max-width: 540px) {
    >div {
      grid-template-columns: 1fr; 
    }
  }
}